In [1]:
import pandas as pd

In [2]:
# Tasks

In [3]:
# 1. Convert d0 to a corresponding pandas object pd0.

In [4]:
d0 = {2:'a', 1:'b', 3:'c'}

In [5]:
# 2. Sort indices of pd0.

In [6]:
pd0 = pd.Series(d0)
pd0

2    a
1    b
3    c
dtype: object

In [7]:
# Sort indices of pd0

pd0 = pd0.sort_index()
pd0

1    b
2    a
3    c
dtype: object

In [8]:
# 3. Convert d1, d2 (together) to a pandas object dd.

In [10]:
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}

In [11]:
dd = pd.DataFrame({'d1': d1, 'd2': d2})
dd

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [12]:
# 4. Give examples of indexing and slicing on dd.

In [16]:
dd['d1']

a    1.0
b    2.0
c    NaN
Name: d1, dtype: float64

In [17]:
dd['d2']

a    NaN
b    3.0
c    4.0
Name: d2, dtype: float64

In [21]:
# Using label-based indexing
slice_label = dd.loc['a':'c']

# Using integer-based indexing
slice_integer = dd.iloc[0:3]

In [22]:
slice_label

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [23]:
slice_integer

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [24]:
# 5. Give examples of implicit and explicit indexing on dd.

In [25]:
# Implicit indexing (by label):
dd.at['a', 'd1']

1.0

In [28]:
# Explicit indexing (by integer position):
dd.iat[2, 1]

4.0

In [29]:
# 6. Forward fll and backfll missing values using various axis.

In [30]:
dd_ffill_rows = dd.ffill(axis=0)  
dd_bfill_rows = dd.bfill(axis=0)  
dd_ffill_columns = dd.ffill(axis=1)  
dd_bfill_columns = dd.bfill(axis=1)

In [31]:
dd_ffill_rows

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  2.0  4.0

In [32]:
dd_bfill_rows

    d1   d2
a  1.0  3.0
b  2.0  3.0
c  NaN  4.0

In [33]:
dd_ffill_columns

    d1   d2
a  1.0  1.0
b  2.0  3.0
c  NaN  4.0

In [34]:
dd_bfill_columns

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  4.0  4.0